<%= @language.name %>


<%= link_to "Add A Lang-Pal!", "#", class:"btn btn-success pull-right", data:{toggle:"modal", target:"#choosepalModal"} %>
<%  if @pending_pupil_coaching_requests.any? %>
  <div id="sent-pupil-requests">
    <h3>You sent <%= @pending_pupil_coaching_requests.count %> request for learning <%= @language.name %> to </h3>
      <%@pending_pupil_coaching_requests.each do |request| %>
      <%= request.mentor.email %>
      <%= link_to "Cancel Request", "#", class: "btn btn-danger" %>
      <%end %>
  </div>

<%end %>

<% if@accepted_pupil_coaching_requests.any? %>
  <div id="accepted-pupil-requests">
    <h3>Your <%= @language.name %> pals are </h3>
    <%@accepted_pupil_coaching_requests.each do |request| %>
    <%= request.mentor.email %>
    <% end %>
  </div>
<%end %>


<% if @accepted_mentor_coaching_requests.any? %>
  <div id="accepted-mentor-requests">
    <h3>Your are mentoring <%= @language.name %> for</h3>
    <%@accepted_mentor_coaching_requests.each do |request| %>

    <%= request.pupil.email %> <br>
    <%end %>
  </div>
<%end %>





<!-- choose langpal Modal -->
<div class="modal fade" id="choosepalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose a Lang-Pal</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@language, @coaching], remote: true do |f|%>
        <div class="alert alert-danger hidden" role="alert">Please enter a valid email address</div>
        <%= f.input :mentor_email, label: 'Enter Mentor Email you like to learn from', placeholder: 'user@domain.com' %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
